data/raw_ethusdt-2025-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/ethusdt-2025-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/raw_btcusdt-2025-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/ethusdt-2023-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/raw_ethusdt-2023-2025.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-2_A_rate.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/config-1_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/config-2_A_rate.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-1_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd/plots/result-1_A_mid_fee.png filter=lfs diff=lfs merge=lfs -text
ethusd/plots/result-2_A_rate.png filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/config-7_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-7_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd/plots/result-7_A_mid_fee.png filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/config-8_one.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one-detailed.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one-detailed.json.xz__div20 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one-detailed.json.xz__div5 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one-detailed.json.xz__div50 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one.json__div10 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one.json__div20 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one.json__div5 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one.json__div50 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one-detailed.json.xz__div10 filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one-detailed.json.xz__minstep filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-8_one.json__minstep filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-9_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-2_A_rate.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-8_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-3_mid_fee_fg.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-4_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-5_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-8_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-7_one-detailed.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-9_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-6_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-8_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-9_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-3_mid_fee_fg.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-6_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-4_one-detailed.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-4_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-4_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-5_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-7_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-4_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-1_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-9_one-detailed.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-7_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-2_A_rate.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-7_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-7_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/config-1_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-8_one-detailed.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-8_one.json filter=lfs diff=lfs merge=lfs -text
ethusd-minstep/run_data/run-9_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
