data/raw_ethusdt-2025-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/ethusdt-2025-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/raw_btcusdt-2025-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/ethusdt-2023-2025.json.xz filter=lfs diff=lfs merge=lfs -text
data/raw_ethusdt-2023-2025.json.xz filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-2_A_rate.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/config-1_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/config-2_A_rate.json filter=lfs diff=lfs merge=lfs -text
ethusd/run_data/run-1_A_mid_fee.json filter=lfs diff=lfs merge=lfs -text
ethusd/plots/result-1_A_mid_fee.png filter=lfs diff=lfs merge=lfs -text
ethusd/plots/result-2_A_rate.png filter=lfs diff=lfs merge=lfs -text
